.widget-user-1 .avatar {
  padding: 30px 10px 10px;
  margin-bottom: 10px;
}
.widget-user-1 .avatar h3 {
  font-weight: 300;
  color: #474747;
  margin: 10px;
}
.widget-user-1 p {
  padding: 0 15px;
  color: #212121;
}
.widget-user-1 .profile-icons {
  border-top: 1px solid #e2e9e6;
  border-bottom: 1px solid #e2e9e6;
  background: #f4f4f4;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.user-box a.username {
  display: block;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #212121;
}
.user-box .media-body h4 {
  margin-bottom: 8px;
}
.user-box .media-body p {
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 400;
}
.profile-block {
  position: relative;
}
.profile-block .cover {
  overflow: visible;
  height: 200px;
  margin-bottom: 0;
}
.profile-block .cover.overlay .overlay.overlay-full .v-bottom {
  bottom: -59px;
}
.profile-block .cover .icon {
  color: #fff;
  font-size: 18px;
}
.profile-block .avatar {
  z-index: 4;
  border: 3px solid #fff;
}
.profile-block .profile-icons {
  height: 65px;
  line-height: 65px;
  padding-left: 140px;
  z-index: 5;
}
ul.notifications-timeline {
  list-style: none;
  padding: 15px 0;
}
ul.notifications-timeline li {
  margin-left: 90px;
  border-left: 1px solid #f5f5f5;
  padding: 8px 0;
}
ul.notifications-timeline li:first-of-type {
  padding-top: 12px;
}
ul.notifications-timeline li:last-of-type {
  padding-bottom: 12px;
}
ul.notifications-timeline li .date {
  margin-left: -90px;
  width: 70px;
  text-align: right;
  display: inline-block;
  color: #777777;
  font-weight: bold;
  font-size: 13px;
}
ul.notifications-timeline li .circle {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 9px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #ffffff;
  border: 2px solid #6e7882;
}
ul.notifications-timeline li .content {
  margin-left: 5px;
  display: inline-block;
}
.media-activity .media i {
  font-size: 24px;
  padding: 6px;
  color: #8c959c;
}
.media-activity .media-body span.title {
  color: #6e7882;
}
.media-activity .media-body span.time {
  display: block;
  font-size: 12px;
  color: #8c959c;
}
.score-block {
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
}
.score-block .title {
  font-size: 14px;
  padding-bottom: 3px;
}
.score-block .score {
  font-size: 24px;
  line-height: 20px;
  color: #26a69a;
}
.weather-svg {
  overflow: hidden;
}
.weather-svg .list {
  font-size: 12px;
  background: #f9f9f9;
  display: table;
}
.weather-svg .list .today {
  margin: 10px;
}
.weather-svg .list .list-item {
  padding: 5px;
  text-align: center;
  border-right: 1px solid #f5f5f5;
  display: table-cell;
}
.weather-svg .list .list-item:last-of-type {
  border-right: none;
}
.weather-svg .list svg {
  width: 40%;
  color: #26a69a;
  height: auto;
}
.weather-svg .today svg {
  width: 200px;
  color: #26a69a;
}
.weather-svg .today .details {
  display: inline-block;
  border: 1px solid #efefef;
  padding: 8px 10px;
  background: #f9f9f9;
  font-size: 16px;
  margin-bottom: 20px;
}
.weather-svg .today .details strong {
  color: #26a69a;
}
.cover svg {
  color: #fff !important;
  height: initial !important;
}
.cover svg .climacon_component-fill {
  fill-opacity: 0.4;
  stroke-width: 3;
  stroke: #fff;
}
.cover svg:not(.climacon_component-stroke) {
  fill-opacity: 0;
  stroke-width: 3;
  stroke: #fff;
}
.weather-svg .cover {
  color: #fff;
}
.weather-svg .cover svg {
  width: 30px;
  vertical-align: middle;
}
.weather-svg .cover .v-center svg {
  width: 50%;
}
.weather-svg .cover a {
  color: #fff;
}
.weather-svg .cover a:hover {
  opacity: 0.5;
}
.weather-svg .cover .v-top {
  font-size: 16px;
}
.weather-svg .cover .list {
  background: none;
  width: 100%;
}
.weather-svg .cover .list .list-item {
  border-right-color: rgba(255, 255, 255, 0.3);
}
