<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Kenko</title>

  <link href="/static/css/vendor/all.css" rel="stylesheet">
  <link href="/static/css/app/app.css" rel="stylesheet">

</head>

<body>

  <!-- Wrapper required for sidebar transitions -->
  <div class="st-container">

    <!-- Fixed navbar -->
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#sidebar-menu" data-effect="st-effect-1" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#sidebar-chat" data-toggle="sidebar-menu" data-effect="st-effect-1" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
          <a class="navbar-brand" href="index.html">Kenko</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
              <a href="#sidebar-chat" data-toggle="sidebar-menu" data-effect="st-effect-1">
                <i class="fa fa-comments"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

      </div>
    </div>

    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    <div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu">
      <div data-scrollable>
        <div class="sidebar-block">
          <div class="profile">
            <img src="/static/images/kenko.png" alt="kenko" class="img-circle" />
            <h4>Kenko</h4>
          </div>
        </div>
        <div class="category">About</div>
        <div class="sidebar-block">
          <ul class="list-about">
            <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/Kenko-149502088796502/">kenko</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    <div class="sidebar sidebar-chat right sidebar-size-2 sidebar-offset-0 chat-skin-white" id=sidebar-chat>
      <div class="split-vertical">
        <div class="chat-search">
          <input type="text" class="form-control" placeholder="Search" />
        </div>

        <ul class="chat-filter nav nav-pills ">
          <li class="active"><a href="#" data-target="li">All</a></li>
        </ul>
        <div class="split-vertical-body">
          <div class="split-vertical-cell">
            <div data-scrollable>
              <ul class="chat-contacts">
                <li class="online" data-user-id="1">
                  <a href="#">
                    <div class="media">
                      <div class="pull-left">
                        <span class="status"></span>
                        <img src="/static/images/people/110/guy-6.jpg" width="40" class="img-circle" />
                      </div>
                      <div class="media-body">

                        <div class="contact-name">Jonathan S.</div>
                        <small>"Free Today"</small>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="chat-window-template" type="text/x-handlebars-template">

    </script>

    <div class="chat-window-container"></div>

    <!-- sidebar effects OUTSIDE of st-pusher: -->
    <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->

    <!-- content push wrapper -->
    <div class="st-pusher" id="content">

      <!-- sidebar effects INSIDE of st-pusher: -->
      <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

      <!-- this is the wrapper for the content -->
      <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

          <nav class="navbar navbar-subnav navbar-static-top margin-bottom-none" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="fa fa-ellipsis-h"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="subnav">
                <ul class="nav navbar-nav ">
                  <li class="active"><a href="/"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
                  <li><a href="/status/"><i class="fa fa-fw icon-user-1"></i> Status</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>

          </nav>

          <div class="container-fluid">

            <div class="timeline row" data-toggle="isotope">
              {% block main %}
              {% endblock %}
              <div class="col-xs-12 col-md-6 col-lg-4 item">
              </div>
            </div>

          </div>

        </div>
        <!-- /st-content-inner -->

      </div>
      <!-- /st-content -->

    </div>
    <!-- /st-pusher -->

    <!-- Footer -->
    <footer class="footer">
      <strong>Kenko</strong> v1.0.0 &copy; Copyright 2016
    </footer>
    <!-- // Footer -->

  </div>
  <!-- /st-container -->

  <!-- Inline Script for colors and config objects; used by various external scripts; -->
  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "social-2",
      skins: {
        "default": {
          "primary-color": "#16ae9f"
        },
        "orange": {
          "primary-color": "#e74c3c"
        },
        "blue": {
          "primary-color": "#4687ce"
        },
        "purple": {
          "primary-color": "#af86b9"
        },
        "brown": {
          "primary-color": "#c3a961"
        },
        "default-nav-inverse": {
          "color-block": "#242424"
        }
      }
    };
  </script>

  <!-- Vendor Scripts Bundle
  <script src="/static/js/vendor/all.js"></script>
    Do not use it simultaneously with the separate bundles above. -->

   <script src="/static/js/vendor/core/all.js"></script> 
   <script src="/static/js/vendor/core/jquery.js"></script> 
   <script src="/static/js/vendor/core/bootstrap.js"></script> 
   <script src="/static/js/vendor/core/breakpoints.js"></script> 
   <script src="/static/js/vendor/core/jquery.nicescroll.js"></script>
   <script src="/static/js/vendor/core/isotope.pkgd.js"></script> 
   <script src="/static/js/vendor/core/packery-mode.pkgd.js"></script>
   <script src="/static/js/vendor/core/jquery.grid-a-licious.js"></script> 
   <script src="/static/js/vendor/core/jquery.cookie.js"></script> 
   <script src="/static/js/vendor/core/jquery-ui.custom.js"></script> 
   <script src="/static/js/vendor/core/jquery.hotkeys.js"></script> 
   <script src="/static/js/vendor/core/handlebars.js"></script> 
   <script src="/static/js/vendor/core/jquery.hotkeys.js"></script> 
   <script src="/static/js/vendor/core/load_image.js"></script> 
   <script src="/static/js/vendor/core/jquery.debouncedresize.js"></script> 
   <script src="/static/js/vendor/tables/all.js"></script> 
   <script src="/static/js/vendor/forms/all.js"></script>  
   <script src="/static/js/vendor/media/all.js"></script>  


  <!-- App Scripts Standalone Modules
    As a convenience, we provide the entire UI framework broke down in separate modules
    Some of the standalone modules may have not been used with the current theme/module
    but ALL the modules are 100% compatible -->

   <script src="/static/js/app/essentials.js"></script> 
   <script src="/static/js/app/layout.js"></script>     
   <script src="/static/js/app/sidebar.js"></script>    
   <script src="/static/js/app/media.js"></script>      
   <script src="/static/js/app/timeline.js"></script>   
   <script src="/static/js/app/chat.js"></script>       

  <script src="/static/js/app/main.js"></script>

  {% block jsmain %}
  {% endblock %}
</body>

</html>
