{% extends "base.html" %}
{% block main %}
{% endblock %}
{% block jsmain %}
<script>
//$(".block").animate({left: "+=50", opacity: 1}, 500 );
//$( "#go" ).click(function(){
//mycode();
//});
function mycode() {
$.get( "/message/", {} )
  .done(function( data ) {
     $( ".timeline" ).empty();
     for (var i = 0; i < data.length; i++) {
   var article = '';
   if (data[i].type == 'text'){
       article =  '<p>' + data[i].content  +'</p>';
   } else{
            article = '<img src="'+ data[i].content + '" class="media-object">';
   }
   var item = '<div class="col-xs-12 col-md-6 col-lg-4 item">'
            +'<div class="timeline-block">'
            +'  <div class="panel panel-default">'

            +'        <div class="panel-heading">'
            +'          <div class="media">'
            +'            <div class="media-left">'
            +'              <a href=""><img src="'+ data[i].profile_pic + '" class="media-object" height="50" width="50">'
            +'              </a>'
            +'            </div>'
            +'            <div class="media-body">'
            +'              <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>'
            +'              <a href="">' +data[i].first_name + ' ' + data[i].last_name+'</a>'

            +'              <span>' + data[i].timestamp +'</span>'
            +'            </div>'
            +'          </div>'
            +'        </div>'
            +'        <div class="panel-body">'
            +         article
            +'        </div>'

            +'        <ul class="comments">'
            +'          <li clas="media">'
            +'            <div class="media-body">'
            +'              <div class="pull-right dropdown" data-show-hover="li">'
            +'                <a href="#" data-toggle="dropdown" class="toggle-button">'
            +'                </a>'
            +'              </div>'
            +'              <a href="" class="comment-author">Mary</a>'
            +'              <span>Wow</span>'
            +'              <div class="comment-date">2 days</div>'
            +'            </div>'
            +'          </li>'
            +'<li><i class="fa fa-comments-o"></i> 9 Attendees <a href="#" class="btn btn-primary btn-stroke btn-xs pull-right">Auto Reply</a></li>'
            +'          <li class="comment-form">'
            +'            <div class="input-group">'

            +'              <input type="text" class="form-control" />'

            +'              <span class="input-group-btn">'
            +'       <a href="" class="btn btn-default"><i class="fa fa-envelope"></i></a>'
            +'    </span>'

            +'            </div>'
            +'          </li>'
            +'        </ul>'
            +'      </div>'

            +'    </div>'
            +'  </div>'
         $( ".timeline.row" ).append(item);
      }
  });
setTimeout(mycode, 2000);
};
mycode();
</script>
{% endblock %}
